.header {
  z-index: 100;
  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: none;
    &.active {
      display: block;
    }
  }
  .container {
    .row {
      .autoBox {
        background-color: transparent;
        width: 100%;
        z-index: 100;
        position: fixed;
        padding: 0 150px;
        display: flex;
        justify-content: center;

        .logo {
          width: 90px;
          height: 90px;
          display: flex;
          align-items: center;
          z-index: 100;
          a {
            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
        .navBar {
          width: 100%;
          display: flex;
          align-items: center;

          .navList {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: space-around;
            font-size: 14px;
            .navItem {
              a {
                color: white;
                position: relative;
                transition: all 0.3s ease-in;

                transform-origin: bottom left;
                transform: translateY(0);
                &:hover {
                  padding-bottom: 20px;
                  border-bottom: 1px solid red;
                  transform: translateX(1);
                  transform-origin: bottom right;
                }
              }
            }
            .dropdown-menu {
              position: relative;
              display: inline-block;
              color: white;
              cursor: pointer;
              transition: all 0.3s ease-in;
              transform-origin: bottom left;
              .menu-content {
                opacity: 0;
                visibility: hidden;
                  width: 1420px;
                  z-index: -100;
                  position: absolute;
                  transform: translateY(50px);
                  transform: translateX(-400px);
                  background: #000;
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
                  transition: 0.4s transform;
                  padding-top: 120px;
                  padding-bottom: 20px;
  
              }
              &:hover {
                padding-bottom: 20px;
                border-bottom: 1px solid red;

                transform-origin: bottom right;
              
              &.active{
                visibility: visible;
                opacity: 1;
                
              }
                    .links {
                      color: rgb(255, 255, 255);
                      padding: 12px 16px;
                      text-decoration: none;
                      display: block;
                      font-size: 18px;
                      font-weight: bold;
                      border-bottom: 1px solid black;
                      a {
                        display: block;
                        width: 100px;
                        img {
                          width: 100%;
                          object-fit: cover;
                        }
                      }
                    }
                  }
              
              
            }
          }
        }
      }
    }
  }
}
