.header{
    .container{
.row{

.autoBox{
   background-color: transparent;
width: 100%;
    z-index: 100;
    position: fixed;
padding: 0 150px;
display: flex;
justify-content: center;
.logo{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    a{
img{
    width: 100%;
    object-fit: cover;
}
    }
}
    .navBar{
        width: 100%;
        display: flex;
        align-items: center;
     
        .navList{
            width: 100%;
            display: flex;
     text-align: center;
     justify-content: space-around;
     font-size: 14px;
            .navItem{
a{
    color: white;
    position: relative;
    transition: all 0.3s ease-in;
    transform: translateX(0);
    transform-origin: bottom left;
    &:hover{
    
        padding-bottom: 20px ;
        border-bottom: 1px solid red;
   transform: translateX(1);
   transform-origin: bottom right;
     
    }
}
            }
        }
    }
}

}

    }
}