.home{
    height: 100%;
    position: relative;
   

        .row{
            Swiper{
           width: 50%;
           height: 50%;
                SwiperSlide{
                    width: 100%;
                 
                  
                   img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                   }
                }
            }
        }
    }
